.home-img1 {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box; /* Ensure padding and border are included in element's total width and height */
}

:root {
    --bg--color: #080808;
    --second--bg--color: #131313;
    --text--color: white;
    --main--color: #00ffee;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background: url('./images/index-bg.jpg') no-repeat center center/cover;
    color: var(--text--color);
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-sizing: border-box;
}

.logo {
    min-width: 35vw;
    font-size: 3.5rem;
    color: var(--text--color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.logo span {
    color: var(--main--color);
    text-shadow: 0 0 25px var(--main--color);
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text--color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}

.navbar a:hover, .navbar a.active {
    color: var(--main--color);
    border-bottom: 3px solid var(--main--color);
}

#menu-icon {
    font-size: 3.5rem;
    color: var(--main--color);
    display: none;
    cursor: pointer;
}

section {
    min-height: 100vh;
    padding: 10rem 12%;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 5rem;
}

span {
    color: var(--main--color);
}

.home-content h3 {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}

.home-content h1 {
    font-size: 5rem;
    font-weight: 800;
    margin-top: 1.5rem;
    line-height: 1;
}

@keyframes spinCoin {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

@keyframes bombEffect {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.3);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

[data-aos="spin-coin"] {
    animation: spinCoin 2s ease-in-out;
}
[data-aos="bomb-effect"] {
    animation: bombEffect 1.8s ease-in-out;
}
.home-img {
    margin-top: 7rem;
    border-radius: 50%;
}

.home-img img {
    top: 3rem;
    width: 30vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main--color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.home-img img:hover {
    box-shadow: 0 0 25px var(--main--color), 
    0 0 50px var (--main--color), 0 0 100px var(--main--color);
    transform: scale(1.2);
}

.home-content p {
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main--color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main--color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}

.social-icons a:hover {
    background: var(--main--color);
    color: var(--bg--color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main--color);
    box-shadow: 0 0 25px var(--main--color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn-group {
    margin-top: -7rem;
    align-items: center;
    padding-bottom: 3rem;

}



 .btn-group a:nth-of-type(2) {
    background-color: black;
    margin-left: 10px;
    color: var(--main--color);
    border: 2px solid var(--main--color);
    box-shadow: 0 0 25px var(--main--color);
} 

.btn-group a:nth-of-type(2):hover {
    box-shadow: 0 0 25px var(--main--color);
    background-color: var(--main--color);
    color: var(--bg--color);
}

.text-animation {
    font-size: 32px;
    font-weight: 600;
    min-width: 380px;
    display: flex;
    align-items: center;
}

.typing {
    display: inline-block;
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid var(--main--color);
    animation: blink 0.75s step-end infinite;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}
/* Education Styles */

.education {
    padding: 15rem 12%;
    background: url('./images/education-bg.jpg');
    color: var(--text--color);
    background-size: cover;
}

.education h1 {
    font-size: 7rem;
    margin-bottom: 2rem;
    text-align: center;
    color: var(--text--color);
    text-shadow: 0 0 10px var(--main--color);
}

.education-content {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.education-item {
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 25px var(--main--color);
    border-left: 8px solid var(--main--color);
    background: url('./images/educ-bg.jpg');
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.education-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 35px var(--main--color);
}

.education-item h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--main--color);
}

.education-item p {
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--text--color);
}

/* Media Queries */
@media (max-width: 768px) {
    .education {
        padding: 10rem 5%;
    }

    .education h1 {
        margin-top: 15rem;
        font-size: 3rem;
    }

    .education-item h2 {
        font-size: 2rem;
    }

    .education-item p {
        font-size: 1.4rem;
    }
}

@media (max-width: 480px) {
    .education {
        padding: 3rem 3%;
    }

    .education h1 {
        font-size: 2.5rem;
    }

    .education-item h2 {
        font-size: 1.8rem;
    }

    .education-item p {
        font-size: 1.2rem;
    }
}



/* for skills css and design layout */
.skills {
    margin-top: 5rem;
}

.container h1 {
    font-size: 6rem;
    text-align: center;
    margin-bottom: 3rem;
    color: var(--text--color);
    text-shadow: 0 0 15px var(--main--color);
    letter-spacing: 0.1em;
}

.skills-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.skill-item {
    flex: 1 1 calc(50% - 20px);
    margin-bottom: 0px;
    background: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.skill-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px var(--main--color);
}

.skill-item h2 {
    margin-bottom: 10px;
    font-size: 2rem;
    color: var(--text--color);
    text-shadow: 0 0 3px var(--main--color);
    letter-spacing: 0.05em;
}

.skill-bar {
    background: #ddd;
    border-radius: 25px;
    overflow: hidden;
    margin: 10px 0;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    position: relative;
}

.skill-progress {
    background: linear-gradient(90deg, var(--main--color), var(--second--bg--color));
    height: 15px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    animation: loadSkill 2s ease-in-out forwards;
}

.skill-progress::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    animation: shine 2s infinite;
}

@keyframes shine {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes loadSkill {
    0% {
        width: 0;
    }
    100% {
        width: var(--skill-level);
    }
}

/* for projects css and design layout */
.projects {
    margin-top: 7rem;
}

.projects-header {
    font-size: 6rem;
    text-align: center;
    margin-bottom: 3rem;
    color: var(--text--color);
    text-shadow: 0 0 15px var(--main--color);
    letter-spacing: 0.1em;
}

.project-category {
    font-size: 3rem;
    text-align: center;
    margin: 4rem 0;
    color: black;
    text-shadow: 0 0 10px var(--main--color);
}

.projects-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.project-item {
    flex: 1 1 calc(33% - 20px);
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-align: center;
}

.project-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px var(--main--color);
}

.project-item img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}

.project-item p {
    font-size: 1.6rem;
    color: var(--text--color);
}

/* Media Queries */
@media (max-width: 1200px) {
    .project-item {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .project-item {
        flex: 1 1 100%;
    }
}

/* for contact css and design layout */
.contact {
    margin-top: 7rem;
}

.contact-header {
    font-size: 6rem;
    text-align: center;
    margin-bottom: 3rem;
    color: var(--text--color);
    text-shadow: 0 0 15px var(--main--color);
    letter-spacing: 0.1em;
}

.contact-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.contact-info {
    flex: 1 1 calc(50% - 20px);
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.contact-info:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px var(--main--color);
}

.contact-info h2 {
    margin-bottom: 10px;
    font-size: 2rem;
    color: var(--main--color);
    text-shadow: 0 0 10px var(--main--color);
}

.contact-info p, .contact-info ul {
    font-size: 1.6rem;
    color: var(--text--color);
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.contact-info ul li i {
    margin-right: 10px;
    color: var(--main--color);
}

.contact-form {
    flex: 1 1 calc(50% - 20px);
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.contact-form:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px var(--main--color);
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    font-size: 1.6rem;
    color: var(--text--color);
    margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.6rem;
    background: rgba(255, 255, 255, 0.1);
    color: var(--text--color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form input:focus, .contact-form textarea:focus {
    outline: none;
    box-shadow: 0 0 10px var(--main--color);
}

.contact-form button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.6rem;
    color: var(--bg--color);
    background: var(--main--color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.contact-form button:hover {
    background: var(--second--bg--color);
}

/* Media Queries */
@media (max-width: 1200px) {
    .contact-info, .contact-form {
        flex: 1 1 100%;
    }
}

/* ---------------------------------------------------------------- */
/* Media Queries */
@media (max-width: 1200px) {
    html {
        font-size: 50%;
        overflow-x: hidden;
    }

    .home-content p {
        font-size: 2.2rem;
    }

    .header {
        padding-top: 2rem;
    }

    .home {
        flex-direction: column;
        gap: 5rem;
    }

    .home-img img {
        width: 50vw;
    }

    .home-img {
        display: none;
    }

    .home-img1 {
        display: block;
        border-radius: 50%;
    }

    .home-img1 img {
        margin-top: 10rem;
        width: 50vw;
        border-radius: 50%;
        box-shadow: 0 0 25px var(--main--color);
        cursor: pointer;
        transition: 0.4s ease-in-out;
    }

    .home-img1 img:hover {
        box-shadow: 0 0 15px var(--main--color), 
        0 0 20px var(--main--color), 0 0 50px var(--main--color);
    }

    section{
        padding-bottom: 20vh;
    }
    .skill-progress {
       
        height: 10px;
        
    }
}

@media (max-width: 768px) {
    html {
        font-size: 50%;
        overflow-x: hidden;
    }

    .header {
        padding-top: 2rem;
        width: 100%; /* Ensure header takes full width */
    }

    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.9);
        padding: 2rem 0;
    }

    .navbar a {
        font-size: 2.4rem;
        margin: 1rem 0;
        text-align: center;
    }

    #menu-icon {
        display: block;
    }

    .home-content h1 {
        font-size: 4rem;
    }

    .home-content h3 {
        font-size: 3rem;
    }

    .home-content p {
        font-size: 2rem;
    }

    .home-img1 img {
        width: 60vw;
    }

    
}

@media (max-width: 480px) {
    html {
        font-size: 40%;
    }

    .header {
        padding: 4rem 8%;
    }

    .navbar {
        display: none;
    }

    #menu-icon {
        display: block;
    }

    .home-content {
        margin: 0 20px;
        padding: 0;
        max-width: 80vw;
    }

    .home-content h1 {
        font-size: 4.5rem;
    }

    .home-content h3 {
        font-size: 3rem;
    }

    .home-content p {
        font-size: 2.2rem;
        max-width: 90vw;
        text-align: justify;
    }

   
}


/* Additional CSS for Active N
avbasdasdr */
.navbar.active {
    display: flex;
}
